body{
    background-color: brown;
}

h1{
    background-color: bisque;
}

h2{
    background-color: green;
}

#paragraf1{
    background-color: aquamarine;
}

#paragraf2{
    background-color: darkmagenta;
}

ul,li{
    background-color: lime;
}



